name: CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - "v*-dev"
    tags: ["*.*.*"]

jobs:
  linux-build:
    timeout-minutes: 20
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11"]
    steps:
      - uses: actions/checkout@v4
        name: Checkout code

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.cache/uv
          key: ${{ runner.os }}-uv-${{ matrix.python-version }}-${{ hashFiles('**/uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-uv-${{ matrix.python-version }}-

      - name: Run CI build
        run: |
          make ci

      - name: Upload wheel as artifact
        uses: actions/upload-artifact@v4
        with:
          name: guidellm-box-dist
          path: dist/*.whl
          retention-days: 5
